img {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: -1;
}
.visible{
    
    background-color: rgb(150, 255, 80);
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: visible;
}
.hidden{
    background-color: rgb(28, 212, 136);
    width: 400px;
    height: 65px;
    border: 1px solid;
    overflow: hidden;
}
.scroll{
    background-color: rgb(19, 133, 185);
  width: 250px;
  height: 100px;
  border: 1px solid black;
  overflow: scroll;
}
.auto{
    background-color: rgb(133, 80, 255);
    width: 200px;
    height: 65px;
    border: 1px solid black;
    overflow: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    ;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }